<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style-game.css">
    <title>The Game</title>
</head>

<body>
    <header>
        <a href="/" id="back-nav" class="ml-5">&lt;</a>
        <img src="./images/logo 1.png" alt="logo" id="logo" class="ml-5" />
        <p id="page-title" class="ml-5">rock paper scissors</p>
    </header>
    <div class="container" id="main-section">
        <div id="gameBox">
            <div class="row justify-content-between text-center">
                <p id="player1" class="col col-md-4 center-item player">player 1</p>
                <p id="player2" class="col col-md-4 center-item player">com</p>
            </div>
            <div class="row justify-content-between text-center mt-0">
                <p id="score-player1" class="col col-md-3 center-item score-player">0</p>
                <p id="score-player2" class="col col-md-3 center-item score-player">0</p>
            </div>
            <div class="row justify-content-between">
                <button onclick="game.runGame('batu')" id="batu-1" class="col col-md-3 btn btn-default">
                    <img src="./images/batu.png" width="90" height="90" />
                </button>
                <button id="batu-2" class="col col-md-3 btn btn-default disabled">
                    <img src="./images/batu.png" width="90" height="90" />
                </button>
            </div>
            <div class="row justify-content-between">
                <button onclick="game.runGame('kertas')" id="kertas-1" class="col col-md-3 btn btn-default">
                    <img src="./images/kertas.png" width="90" height="90" />
                </button>
                <div id="result-desktop" class="col col-md-5 text-center show-result">
                    <p id="versus">VS</p>
                    <p id="the-winner-desktop" class="result-style"></p>
                </div>
                <button id="kertas-2" class="col col-md-3 btn btn-default disabled">
                    <img src="./images/kertas.png" width="90" height="90" />
                </button>
            </div>
            <div class="row justify-content-between">
                <button onclick="game.runGame('gunting')" id="gunting-1" class="col col-md-3 btn btn-default">
                    <img src="./images/gunting.png" width="90" height="90" />
                </button>
                <button id="gunting-2" class="col col-md-3 btn btn-default disabled">
                    <img src="./images/gunting.png" width="90" height="90" />
                </button>
            </div>
            <div class="row justify-content-md-center">
                <div id="result-mobile" class="col col-md text-center">
                    <p id="the-winner-mobile" class="result-style"></p>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <button onclick="game.gameInit()" class="col col-md-3 btn btn-default" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <img src="./images/refresh.png" class="resized-img" width="90" height="90" />
                </button>
            </div>
        </div>
    </div>

    <!-- MODAL
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Game</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" disabled></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="player1-name" class="col-form-label">Type your name here:</label>
                            <input type="text" class="form-control" id="player1-name" value="Player 1">
                        </div>
                        <div class="mb-3">
                            <label for="player2-name" class="col-form-label">Computer's name:</label>
                            <input type="text" class="form-control" id="player2-name" value="Computer">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" disabled>Close</button>
                    <button type="button" class="btn btn-primary" onclick="game.gameInit()" data-bs-dismiss="modal">Start the
                        game</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- JAVASCRIPT FOR THE GAME -->
    <script src="script-game.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $("#exampleModal").modal('show');
        });
    </script> -->

</body>

</html>